In [78]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statistics as st
from sklearn.preprocessing import OrdinalEncoder
%matplotlib inline

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [79]:
#read csv
df = pd.read_csv('Data/Levels_Fyi_Salary_Data.csv')

In [80]:
#standardize column names
df.columns = df.columns.str.lower()

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62642 entries, 0 to 62641
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   timestamp                62642 non-null  object
 1   company                  62637 non-null  object
 2   level                    62523 non-null  object
 3   title                    62642 non-null  object
 4   totalyearlycompensation  62642 non-null  int64
 5   location                 62642 non-null  object
 6   yearsofexperience        62642 non-null  float64
 7   yearsatcompany           62642 non-null  float64
 8   tag                      61788 non-null  object
 9   basesalary               62642 non-null  float64
 10  stockgrantvalue          62642 non-null  float64
 11  bonus                    62642 non-null  float64
 12  gender                   43102 non-null  object
 13  otherdetails             40137 non-null  object
 14  cityid                   62642 non-null  int64
 15  dmaid                    62640 non-null  float64
 16  rownumber                62642 non-null  int64
 17  masters_degree           62642 non-null  int64
 18  bachelors_degree         62642 non-null  int64
 19  doctorate_degree         62642 non-null  int64
 20  highschool               62642 non-null  int64
 21  some_college             62642 non-null  int64
 22  race_asian               62642 non-null  int64
 23  race_white               62642 non-null  int64
 24  race_two_or_more         62642 non-null  int64
 25  race_black               62642 non-null  int64
 26  race_hispanic            62642 non-null  int64
 27  race                     22427 non-null  object
 28  education                30370 non-null  object
dtypes: float64(6), int64(13), object(10)
memory usage: 13.9+ MB

In [82]:
#drop columns that I don't want 
df = df.drop(['timestamp', 'rownumber', 'tag', 'title', 'otherdetails', 'cityid', 'dmaid', 'masters_degree', 'bachelors_degree', 
              'doctorate_degree', 'highschool', 'some_college', 'race_asian','race_white', 
              'race_two_or_more', 'race_black', 'race_hispanic', 'race' ], axis=1)

In [54]:
#keep only total yearly compensation
df = df.drop(['basesalary', 'stockgrantvalue', 'bonus' ], axis=1)

In [55]:
# Clean the "Gender" column to keep only Male and Female
df = df.dropna(subset=['gender'])
df.reset_index(drop=True, inplace=True)
df.drop(df[df["gender"] == "Other"].index, inplace = True)
df.drop(df[df["gender"] == 'Title: Senior Software Engineer'].index, inplace = True)
df['gender'].value_counts(dropna = False)

Male      35702
Female     6999
Name: gender, dtype: int64

In [56]:
#new gender column is_female
def gender(val):
    if val == "Female":
        return 1
    else:
        return 0

In [57]:
#create the is_female column
df["is_female"] = df['gender'].apply(gender)
df['is_female'].value_counts()

0    35702
1     6999
Name: is_female, dtype: int64

In [58]:
#fill company NaN
df['company'] = df['company'].fillna("Unknown")

In [59]:
#transform company comumn into is_faang? assuming they might be paid more
def faanging(val):
    if val == 'Amazon' or val == 'Facebook' or val == 'Apple' or val == 'Netflix' or val == 'Google':
        return 1
    else:
        return 0

In [60]:
#create new column is FAANG? (assuming FAANG might pay more than other companies)
df['is_faang'] = df['company'].apply(faanging)
df["is_faang"].value_counts()

0    30609
1    12092
Name: is_faang, dtype: int64

In [61]:
#looking at title 
df['title'].value_counts()

Software Engineer               28724
Product Manager                  3038
Software Engineering Manager     2278
Data Scientist                   1718
Hardware Engineer                1512
Product Designer                 1126
Technical Program Manager         888
Solution Architect                797
Management Consultant             616
Business Analyst                  525
Marketing                         419
Mechanical Engineer               304
Sales                             279
Recruiter                         274
Human Resources                   203
Name: title, dtype: int64

In [62]:
#droping titles that aren't explicitely STEM
df.drop(df[(df['title'] == 'Marketing') | (df['title'] == 'Recruiter') | (df['title'] == 'Human Resources') 
           | (df['title'] == 'Sales') 
           | (df['title'] == 'Management Consultant')].index, inplace=True )

In [63]:
#looking at location
df['location'].value_counts()

Seattle, WA                                5595
San Francisco, CA                          3994
New York, NY                               2846
Redmond, WA                                1803
Sunnyvale, CA                              1503
Mountain View, CA                          1441
San Jose, CA                               1314
Austin, TX                                 1012
Menlo Park, CA                              983
Cupertino, CA                               955
Bangalore, KA, India                        915
Boston, MA                                  763
Santa Clara, CA                             757
Palo Alto, CA                               744
London, EN, United Kingdom                  712
San Diego, CA                               530
Bellevue, WA                                496
Chicago, IL                                 472
Toronto, ON, Canada                         444
Los Angeles, CA                             421
Vancouver, BC, Canada                       405
Bengaluru, KA, India                        402
Washington, DC                              334
Hyderabad, TS, India                        318
Atlanta, GA                                 318
Dallas, TX                                  306
Redwood City, CA                            282
Berlin, BE, Germany                         254
Portland, OR                                237
Singapore, SG, Singapore                    216
Denver, CO                                  192
Dublin, DN, Ireland                         191
Amsterdam, NH, Netherlands                  170
Hillsboro, OR                               169
Irvine, CA                                  163
Cambridge, MA                               163
Arlington, VA                               149
Pleasanton, CA                              148
Moscow, MC, Russia                          146
Minneapolis, MN                             146
Plano, TX                                   145
Boulder, CO                                 143
Los Gatos, CA                               143
Raleigh, NC                                 140
Taipei, TP, Taiwan                          134
Kirkland, WA                                132
Tel Aviv, TA, Israel                        131
Philadelphia, PA                            128
Houston, TX                                 128
Zurich, ZH, Switzerland                     125
Sydney, NS, Australia                       122
Pittsburgh, PA                              122
Herndon, VA                                 114
Jersey City, NJ                             114
Phoenix, AZ                                 109
Ottawa, ON, Canada                          103
Pune, MH, India                              97
Gurgaon, HR, India                           95
Hyderabad, AP, India                         92
Charlotte, NC                                92
San Mateo, CA                                90
Montreal, QC, Canada                         87
Richmond, VA                                 85
Folsom, CA                                   83
Foster City, CA                              81
Reston, VA                                   80
San Bruno, CA                                79
Santa Monica, CA                             79
Kansas City, MO                              77
Chennai, TN, India                           75
Mumbai, MH, India                            73
Salt Lake City, UT                           72
Fremont, CA                                  70
Columbus, OH                                 67
Madison, WI                                  67
Milpitas, CA                                 65
Munich, BY, Germany                          65
Hsin-chu, TP, Taiwan                         64
Noida, UP, India                             62
Detroit, MI                                  61
Bentonville, AR                              60
San Antonio, TX                              56
Tempe, AZ                                    56
Vienna, VA                                   56
Tokyo, TY, Japan                             55
Durham, NC                                   54
Chandler, AZ                                 48
Orlando, FL                                  47
Oakland, CA                                  45
Nashville, TN                                44
Stockholm, ST, Sweden                        44
Indianapolis, IN                             43
Haifa, HA, Israel                            43
St. Louis, MO                                43
Fairfax, VA                                  42
Lehi, UT                                     42
Waterloo, ON, Canada                         42
Saint Petersburg, SP, Russia                 41
Tampa, FL                                    40
San Ramon, CA                                39
Barcelona, CT, Spain                         38
Paris, IL, France                            37
Beaverton, OR                                37
Newark, NJ                                   36
Brooklyn, NY                                 36
Mc Lean, VA                                  36
Cincinnati, OH                               35
Wilmington, DE                               35
Madrid, MD, Spain                            35
Natick, MA                                   35
Kiev, KC, Ukraine                            34
Prague, PR, Czech Republic                   32
Fort Lauderdale, FL                          32
Herzliyya, TA, Israel                        31
Markham, ON, Canada                          31
Waltham, MA                                  30
Santa Barbara, CA                            29
Burlington, MA                               27
Melbourne, VI, Australia                     27
Warsaw, MZ, Poland                           26
Luxembourg, LU, Luxembourg                   26
Baltimore, MD                                26
Cambridge, EN, United Kingdom                26
Scottsdale, AZ                               24
El Segundo, CA                               24
Miami, FL                                    24
Poughkeepsie, NY                             23
Shanghai, SH, China                          23
Sao Paulo, SP, Brazil                        23
Ann Arbor, MI                                22
Irving, TX                                   22
Boise, ID                                    21
Jakarta, JK, Indonesia                       21
Hong Kong, HK, Hong Kong (SAR)               21
Edinburgh, SC, United Kingdom                21
Dearborn, MI                                 20
Walldorf, BW, Germany                        20
Calgary, AB, Canada                          20
Provo, UT                                    19
Verona, WI                                   19
Morrisville, NC                              19
Fort Worth, TX                               18
Beijing, BJ, China                           18
Glasgow, SC, United Kingdom                  18
Sacramento, CA                               18
Delhi, DL, India                             18
Dubai, DU, United Arab Emirates              17
Richardson, TX                               17
Kitchener, ON, Canada                        17
Alpharetta, GA                               17
Omaha, NE                                    16
Hoboken, NJ                                  16
Budapest, BU, Hungary                        16
Boxborough, MA                               15
Kent, WA                                     15
Broomfield, CO                               15
Round Rock, TX                               15
Malvern, PA                                  14
Whippany, NJ                                 14
Hopkinton, MA                                14
Berkeley, CA                                 14
Bangkok, BM, Thailand                        14
Warren, MI                                   14
Seoul, KG, Korea, South                      13
Milwaukee, WI                                13
Rochester, MN                                13
Bucharest, BU, Romania                       13
Frankfurt, HE, Germany                       13
Needham, MA                                  13
Cleveland, OH                                13
Norwalk, CT                                  13
Grand Rapids, MI                             13
Culver City, CA                              13
Bloomington, IL                              12
Holmdel, NJ                                  12
Cape Town, WC, South Africa                  12
Lagos, LA, Nigeria                           12
South San Francisco, CA                      12
Olathe, KS                                   12
Krakow, MA, Poland                           12
Tallinn, HA, Estonia                         12
Buenos Aires, DF, Argentina                  12
Galway, GY, Ireland                          11
Newark, CA                                   11
Tucson, AZ                                   11
Redlands, CA                                 11
Frisco, TX                                   11
Littleton, MA                                11
Bedford, MA                                  11
Basking Ridge, NJ                            11
Cary, NC                                     10
Colorado Springs, CO                         10
Carlsbad, CA                                 10
Bothell, WA                                  10
Des Moines, IA                               10
Hawthorne, CA                                10
Shenzhen, GD, China                          10
Fort Collins, CO                             10
Las Vegas, NV                                10
Oslo, OS, Norway                             10
Pasadena, CA                                 10
Hudson, MA                                   10
Huntsville, AL                               10
Norfolk, VA                                  10
Tainan, KH, Taiwan                            9
Burbank, CA                                   9
Kharkiv, KK, Ukraine                          9
Sterling, VA                                  9
Gdansk, PM, Poland                            9
Newtown Square, PA                            9
Emeryville, CA                                9
Naperville, IL                                9
Issaquah, WA                                  9
Stuttgart, BW, Germany                        9
Petach Tikva, HM, Israel                      9
Hamburg, HH, Germany                          8
Mississauga, ON, Canada                       8
North Reading, MA                             8
Minsk, HM, Belarus                            8
Minsk, MI, Belarus                            8
Glendale, CA                                  8
Manhattan Beach, CA                           8
Louisville, KY                                8
Redondo Beach, CA                             8
Hartford, CT                                  8
Edmonton, AB, Canada                          8
Marlborough, MA                               8
Hangzhou, ZJ, China                           8
Cork, CK, Ireland                             8
Vancouver, WA                                 8
Stamford, CT                                  8
Columbia, MD                                  8
Everett, WA                                   8
Sofia, SF, Bulgaria                           8
Lake Mary, FL                                 7
Roseland, NJ                                  7
New Orleans, LA                               7
Princeton, NJ                                 7
Santa Cruz, CA                                7
Charleston, SC                                7
South Jordan, UT                              7
Weston, FL                                    7
Framingham, MA                                7
Milano, LO, Italy                             7
Columbus, IN                                  7
Santa Rosa, CA                                7
Draper, UT                                    7
Oklahoma City, OK                             7
Brno, JM, Czech Republic                      7
Ashburn, VA                                   7
Lviv, LV, Ukraine                             7
Manhattan, NY                                 7
King of Prussia, PA                           7
West McLean, VA                               7
Guadalajara, JA, Mexico                       7
Cedar Rapids, IA                              7
Dortmund, NW, Germany                         7
Lake Forest, CA                               7
Chantilly, VA                                 7
Dulles, VA                                    7
Birmingham, AL                                7
Roseville, CA                                 6
Bogota, DC, Colombia                          6
Campbell, CA                                  6
Venice, CA                                    6
Manchester, NH                                6
West Chester, PA                              6
Armonk, NY                                    6
Fort Mill, SC                                 6
Morgantown, WV                                6
Cluj-Napoca, CJ, Romania                      6
Kansas City, KS                               6
Baton Rouge, LA                               6
Annapolis Junction, MD                        6
Newark, DE                                    6
Rotterdam, ZH, Netherlands                    6
Bristol, EN, United Kingdom                   6
Albuquerque, NM                               6
Saint Paul, MN                                6
Watertown, MA                                 6
St Paul, MN                                   6
Auckland, AU, New Zealand                     6
Nashua, NH                                    5
Gaithersburg, MD                              5
Littleton, CO                                 5
Memphis, TN                                   5
Providence, RI                                5
Victoria, BC, Canada                          5
Champaign, IL                                 5
Belo Horizonte, MG, Brazil                    5
Manchester, EN, United Kingdom                5
Bridgewater, NJ                               5
Nairobi, NA, Kenya                            5
Canberra, CT, Australia                       5
New Delhi, DL, India                          5
O Fallon, MO                                  5
Cologne, NW, Germany                          5
American Fork, UT                             5
Burnaby, BC, Canada                           5
Raanana, HM, Israel                           5
Englewood, CO                                 5
Ireland, IN                                   5
Texas City, TX                                5
Lafayette, LA                                 5
Greenwich, CT                                 5
Mount Laurel, NJ                              5
Dresden, SN, Germany                          5
San Luis Obispo, CA                           5
Wichita, KS                                   5
Eden Prairie, MN                              5
Wroclaw, DS, Poland                           5
Bethesda, MD                                  5
Westford, MA                                  5
Middletown, NJ                                4
Helsinki, ES, Finland                         4
Skillman, NJ                                  4
Goleta, CA                                    4
Burlington, VT                                4
Usaquen, CU, Colombia                         4
Athlone, WH, Ireland                          4
Hannover, NI, Germany                         4
Aurora, CO                                    4
Plantation Acres, FL                          4
Longmont, CO                                  4
Quebec, QC, Canada                            4
Florham Park, NJ                              4
Duluth, GA                                    4
Karlsruhe, BW, Germany                        4
Brisbane, QL, Australia                       4
Brazil, IN                                    4
Bratislava, BL, Slovakia                      4
Yorktown Heights, NY                          4
Tulsa, OK                                     4
San Jose, SJ, Costa Rica                      4
Greenwood Village, CO                         4
Spring, TX                                    4
Northridge, CA                                4
Yavne, JM, Israel                             4
Rochester, NY                                 4
Sparks, NV                                    4
California City, CA                           4
Santiago, RM, Chile                           4
Belmont, CA                                   4
Aarhus, AR, Denmark                           4
Arizona City, AZ                              4
Merrimack, NH                                 4
Arlington, TX                                 4
Raritan, NJ                                   4
Raffles Park, SG, Singapore                   4
Melbourne, FL                                 4
Sophia-Antipolis, PR, France                  4
Marietta, GA                                  4
Southlake, TX                                 4
Miami Beach, FL                               4
Aliso Viejo, CA                               4
Geneva, GE, Switzerland                       4
Overland Park, KS                             4
Stratford, CT                                 4
Owings Mills, MD                              4
Trivandrum, KL, India                         4
Brooklyn Park, MN                             4
Falls Church, VA                              4
Jerusalem, JM, Israel                         4
Zaragoza, AR, Spain                           3
Nottingham, EN, United Kingdom                3
Johnston, RI                                  3
Helena, MT                                    3
Hatfield, EN, United Kingdom                  3
RIGA, RI, Latvia                              3
Newcastle Upon Tyne, EN, United Kingdom       3
Rolling Meadows, IL                           3
Porto, PO, Portugal                           3
Basel, BS, Switzerland                        3
Mason, OH                                     3
Manassas, VA                                  3
Newton, MA                                    3
Ekaterinburg, SV, Russia                      3
Newport Beach, CA                             3
Winnipeg, MB, Canada                          3
Belgrade, SR, Serbia                          3
Fredericton, NB, Canada                       3
Stockport, EN, United Kingdom                 3
Ames, IA                                      3
Guangzhou, GD, China                          3
Louisville, CO                                3
Gilbert, AZ                                   3
Wilsonville, OR                               3
Boca Raton, FL                                3
Palmdale, CA                                  3
Northbrook, IL                                3
Murray, UT                                    3
Bristol, CT                                   3
Costa Mesa, CA                                3
Purchase, NY                                  3
Bala Cynwyd, PA                               3
Nice, PR, France                              3
Buffalo, NY                                   3
Bloomington, MN                               3
Columbia, MO                                  3
Coppell, TX                                   3
Woonsocket, RI                                3
Lima, LI, Peru                                3
Illinois City, IL                             3
Taichung City, TP, Taiwan                     3
Sunrise, FL                                   3
New York Mills, NY                            3
Wilmington, MA                                3
Ontario, CA                                   3
Snoqualmie, WA                                3
Walnut Creek, CA                              3
Copenhagen , SK, Denmark                      3
San Carlos, CA                                3
Lodz, LD, Poland                              3
Holtsville, NY                                3
Portsmouth, RI                                3
Vienna, WI, Austria                           3

In [64]:
#split the location in 3
df["country"] = df['location'].str.split(',').apply(lambda x: x[2].strip() if len(x)>2 else "USA")

In [65]:
df["country"].value_counts()

USA                     33882
India                    2170
Canada                   1196
United Kingdom            824
Germany                   416
Israel                    235
Singapore                 227
Ireland                   217
Taiwan                    216
Russia                    197
Netherlands               184
Australia                 162
Switzerland               139
Spain                      77
China                      68
Japan                      58
Poland                     57
Ukraine                    51
France                     51
Sweden                     47
Czech Republic             39
Brazil                     34
Luxembourg                 26
Indonesia                  22
Hong Kong (SAR)            21
Romania                    21
Hungary                    17
United Arab Emirates       17
Belarus                    16
Korea                      14
Thailand                   14
Argentina                  14
Colombia                   13
Nigeria                    12
Estonia                    12
South Africa               12
Norway                     12
Mexico                     12
Italy                      11
Bulgaria                    8
Denmark                     7
Costa Rica                  6
New Zealand                 6
Portugal                    5
Finland                     5
Kenya                       5
Philippines                 5
Austria                     4
Malaysia                    4
Slovakia                    4
Chile                       4
Peru                        3
Latvia                      3
Serbia                      3
Turkey                      3
Uruguay                     2
Jordan                      2
Moldova                     2
Lithuania                   2
Vietnam                     1
Armenia                     1
Uzbekistan                  1
Kazakhstan                  1
Ghana                       1
Belgium                     1
Marshall Islands            1
Netherlands Antilles        1
Yugoslavia                  1
Saudi Arabia                1
Puerto Rico                 1
Guatemala                   1
Bangladesh                  1
Egypt                       1
Name: country, dtype: int64

In [66]:
df.drop(df[df['country'] != 'USA'].index, inplace=True) #keep the states only
df['state'] = df['location'].str.split(",").apply(lambda x: x[1].strip())
df.drop(df[df['state'] == 'Israel'].index, inplace=True)
df["state"].value_counts()

CA    14348
WA     8088
NY     2958
TX     1760
MA     1146
VA      633
IL      522
OR      457
CO      400
GA      348
DC      334
NC      324
PA      316
NJ      280
AZ      257
FL      193
MN      193
UT      168
MI      146
MO      138
OH      127
WI      108
MD       72
IN       68
CT       66
AR       63
TN       56
DE       44
KS       30
IA       24
ID       22
NH       22
LA       20
AL       19
NE       18
SC       18
NV       17
KY       16
RI       14
OK       11
WV       10
NM        7
MT        6
VT        5
MS        2
HI        2
ND        2
ME        2
WY        1
Name: state, dtype: int64

In [67]:
df["title"].value_counts()

Software Engineer               23402
Product Manager                  2681
Software Engineering Manager     1904
Data Scientist                   1468
Hardware Engineer                1339
Product Designer                 1002
Technical Program Manager         778
Solution Architect                602
Business Analyst                  428
Mechanical Engineer               277
Name: title, dtype: int64

In [68]:
df_title_to_dum = df["title"]
df_title_dum = pd.get_dummies(df_title_to_dum, drop_first = True)
#df_title_dum
#business analyst is being dropped

In [69]:
df =pd.concat([df, df_title_dum], axis=1 )
df.head(10)

,company,level,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,gender,education,is_female,is_faang,country,state,Data Scientist,Hardware Engineer,Mechanical Engineer,Product Designer,Product Manager,Software Engineer,Software Engineering Manager,Solution Architect,Technical Program Manager
0,GE Digital,Senior,Software Engineer,140000,"San Ramon, CA",4.0,4.0,Male,NaN,0,0,USA,CA,0,0,0,0,0,1,0,0,0
1,Amazon,L5,Software Engineer,172000,"Seattle, WA",12.0,2.0,Male,NaN,0,1,USA,WA,0,0,0,0,0,1,0,0,0
2,Uber,L5,Software Engineer,325000,"San Francisco, CA",7.0,2.0,Male,NaN,0,0,USA,CA,0,0,0,0,0,1,0,0,0
3,Microsoft,60,Software Engineer,150000,"Seattle, WA",4.0,0.0,Male,NaN,0,0,USA,WA,0,0,0,0,0,1,0,0,0
4,Google,L6,Software Engineer,640000,"Mountain View, CA",11.0,4.0,Male,NaN,0,1,USA,CA,0,0,0,0,0,1,0,0,0
5,Toyota Research Institute,L3,Software Engineer,189000,"Boston, MA",0.0,0.0,Male,NaN,0,0,USA,MA,0,0,0,0,0,1,0,0,0
6,Microsoft,62,Software Engineer,230000,"Bellevue, WA",3.0,0.0,Male,NaN,0,0,USA,WA,0,0,0,0,0,1,0,0,0
7,Oracle,IC-4,Software Engineer,128000,"Santa Clara, CA",9.0,3.0,Male,NaN,0,0,USA,CA,0,0,0,0,0,1,0,0,0
8,Apple,ICT 3,Software Engineer,176000,"Cupertino, CA",3.0,1.0,Female,NaN,1,1,USA,CA,0,0,0,0,0,1,0,0,0
9,SAP,L4,Software Engineer,205000,"Palo Alto, CA",10.0,0.0,Male,NaN,0,0,USA,CA,0,0,0,0,0,1,0,0,0

## until here, education hasn't been touched, still has NaN
#### 1st option: we drop the NaN and encode the education column. education is included in the model.

In [70]:
df['education'].value_counts(dropna=False)

NaN                  13180
Master's Degree      10893
Bachelor's Degree     8083
PhD                   1280
Some College           265
Highschool             180
Name: education, dtype: int64

In [71]:
#let's drop the NaN
df = df.dropna(subset=['education'])
df.reset_index(drop=True, inplace=True)
df['education'].value_counts()

Master's Degree      10893
Bachelor's Degree     8083
PhD                   1280
Some College           265
Highschool             180
Name: education, dtype: int64

In [1]:
df.head(10)

NameError: name 'df' is not defined

In [72]:
#ordinal encoder of the education column
from sklearn.preprocessing import OrdinalEncoder
array_cat_ord = df["education"].values
array_cat_ord =array_cat_ord.reshape(-1,1)
array_cat_ord

array([['PhD'],
       ["Master's Degree"],
       ['PhD'],
       ...,
       ["Master's Degree"],
       ["Master's Degree"],
       ["Master's Degree"]], dtype=object)

In [73]:
encoder = OrdinalEncoder(categories=[["Highschool", 'Some College', 'Bachelor\'s Degree', 'Master\'s Degree', "PhD"]])
encoder.fit(array_cat_ord)
encoded_array = encoder.transform(array_cat_ord)

In [74]:
cat_ord_encoded = pd.DataFrame(encoded_array, columns=['education_enc'])
df = pd.concat([df, cat_ord_encoded], axis = 1)

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20701 entries, 0 to 20700
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   company                       20701 non-null  object
 1   level                         20665 non-null  object
 2   title                         20701 non-null  object
 3   totalyearlycompensation       20701 non-null  int64
 4   location                      20701 non-null  object
 5   yearsofexperience             20701 non-null  float64
 6   yearsatcompany                20701 non-null  float64
 7   gender                        20701 non-null  object
 8   education                     20701 non-null  object
 9   is_female                     20701 non-null  int64
 10  is_faang                      20701 non-null  int64
 11  country                       20701 non-null  object
 12  state                         20701 non-null  object
 13  Data Scientist                20701 non-null  uint8
 14  Hardware Engineer             20701 non-null  uint8
 15  Mechanical Engineer           20701 non-null  uint8
 16  Product Designer              20701 non-null  uint8
 17  Product Manager               20701 non-null  uint8
 18  Software Engineer             20701 non-null  uint8
 19  Software Engineering Manager  20701 non-null  uint8
 20  Solution Architect            20701 non-null  uint8
 21  Technical Program Manager     20701 non-null  uint8
 22  education_enc                 20701 non-null  float64
dtypes: float64(3), int64(3), object(8), uint8(9)
memory usage: 2.4+ MB

In [76]:
df['title'].value_counts()

L4                                                    1781
L5                                                    1732
L3                                                    1146
L6                                                     916
Senior Software Engineer                               543
L2                                                     483
L1                                                     319
E5                                                     287
L7                                                     281
ICT4                                                   279
IC4                                                    261
61                                                     248
ICT3                                                   244
Senior                                                 243
Software Engineer                                      242
62                                                     242
IC3                                                    241
63                                                     240
E4                                                     219
60                                                     209
64                                                     205
IC5                                                    186
Associate                                              171
59                                                     147
Senior Engineer                                        143
Grade 6                                                133
SDE II                                                 133
SDE I                                                  125
P3                                                     122
Grade 8                                                122
IC2                                                    119
Senior Associate                                       118
Staff Software Engineer                                117
65                                                     116
Senior MTS                                             114
Analyst                                                114
E3                                                     112
P4                                                     109
Software Engineer 2                                    103
Staff Engineer                                          99
L6 SDM                                                  95
Grade 7                                                 94
Vice President                                          92
IC-2                                                    87
Manager                                                 87
L8                                                      86
E6                                                      81
1                                                       81
Software Engineer II                                    78
P2                                                      78
M1                                                      76
Grade 10                                                75
Band 7                                                  75
2                                                       73
Director                                                72
IC-3                                                    70
66                                                      66
4                                                       62
IC6                                                     62
Lead MTS                                                59
Engineer                                                59
Senior Consultant                                       56
M2                                                      55
P5                                                      54
7                                                       54
ICT2                                                    53
ICT5                                                    53
Senior SWE                                              53
3                                                       53
Software Engineer 3                                     53
Grade 9                                                 52
Principal Associate                                     51
Staff                                                   50
T4                                                      49
Senior Manager                                          49
MTS                                                     48
IC-4                                                    48
T3                                                      48
T5                                                      48
MTS 3                                                   48
M3                                                      47
5                                                       47
Band 8                                                  46
Principal Engineer                                      46
Software Engineer 1                                     46
L5A                                                     45
Principal MTS                                           45
Consultant                                              45
Principal                                               42
T2                                                      41
SWE II                                                  41
6                                                       40
Grade 11                                                40
Associate Software Eng                                  38
Senior Product Manager                                  38
L9                                                      37
Grade 5                                                 37
Band 6                                                  37
T24                                                     35
Software Engineer I                                     35
MTS 2                                                   34
67                                                      34
603                                                     32
SE 3                                                    32
Band 9                                                  32
9                                                       31
8                                                       30
Lead                                                    29
M4                                                      29
602                                                     28
MTS 1                                                   28
Principal Software Engineer                             28
VP                                                      27
M5                                                      27
IC1                                                     26
M                                                       26
L60                                                     26
SDE III                                                 26
New Grad                                                26
T25                                                     25
L                                                       25
601                                                     25
Grade 12                                                25
E2                                                      25
2-1                                                     24
Entry                                                   24
Entry Level                                             24
SE 2                                                    24
L5 Product Manager                                      23
Associate Software Engineer                             22
T23                                                     22
Lead Software Engineer                                  22
Software Engineer III                                   21
L5B                                                     21
SDE 3                                                   21
l3                                                      21
Software Engineer (SWE)                                 20
K                                                       20
Senior Staff Engineer                                   20
Senior SDE                                              19
Staff Engineer 1                                        19
Associate Senior Software Engineer                      19
IC-5                                                    19
Manager (L6)                                            19
Product Manager                                         19
SDE 2                                                   19
L61                                                     19
T26                                                     18
Master Software Eng                                     18
P1                                                      18
Senior Director                                         18
Software Eng                                            18
l4                                                      18
Software Developer                                      18
IC-1                                                    18
E7                                                      18
SDE                                                     17
Engineering Manager                                     17
Staff SWE                                               17
26                                                      17
Software Engineer 4                                     17
Associate MTS                                           16
SMTS                                                    16
Mid                                                     16
G10                                                     16
Senior software engineer                                15
L6 Product Manager                                      15
T6                                                      15
Grade 13                                                15
Associate Engineer                                      15
Architect                                               15
502                                                     15
Technical Leader 1                                      15
Software Engineer IV                                    14
Engineer II                                             14
Level 4                                                 14
T1                                                      14
L10                                                     14
Grade 4                                                 14
II                                                      14
MTS3                                                    14
Level 5                                                 14
Junior                                                  13
L5 SDM                                                  13
MTS4                                                    13
E1                                                      13
SDE 1                                                   13
L62                                                     13
2-2                                                     13
Senior Software Engineer II                             13
SE2                                                     13
L59                                                     12
ICB 5                                                   12
Member of Technical Staff                               12
Senior Software Eng                                     12
G8                                                      12
Senior Data Scientist                                   12
Engineer 2                                              12
11                                                      12
Senior Software Engineer I                              12
Senior Staff Software Engineer                          12
SE3                                                     12
senior                                                  11
10                                                      11
Engineer 3                                              11
12                                                      10
Executive Director                                      10
Senior PM                                               10
Data Scientist                                          10
L64                                                     10
L63                                                     10
G6                                                      10
l5                                                      10
SDE2                                                    10
SWE 2                                                   10
l6                                                       9
G9                                                       9
Member of Technical Staff 1                              9
PM 2                                                     9
P6                                                       9
1-2                                                      9
5A                                                       9
ICB 4                                                    9
28                                                       9
Grade 3                                                  9
Associate Member of Technical Staff                      9
Level 6                                                  9
68                                                       9
III                                                      9
Forward Deployed Engineer                                9
LMTS                                                     9
Senior Principal Engineer                                8
L11                                                      8
Band 10                                                  8
SDE1                                                     8
G07                                                      8
L25                                                      8
M6                                                       8
Specialist                                               8
Associate Manager                                        8
Engineer III                                             8
D1                                                       8
Intern                                                   8
MTS2                                                     8
5a                                                       8
Engineer 1                                               8
AVP                                                      8
Principal / Architect                                    8
Grade 14                                                 8
24                                                       8
PR3                                                      8
MTS III                                                  8
ICT6                                                     8
Lead Engineer                                            7
Entry level                                              7
SE4                                                      7
SWE 3                                                    7
Principal SDE                                            7
Senior I                                                 7
Master                                                   7
B35                                                      7
SDE 4                                                    7
ICB 6                                                    7
Senior Analyst                                           7
X4                                                       7
I7                                                       7
Expert                                                   7
SWE 1                                                    7
l1                                                       7
D4                                                       7
IC3-1                                                    6
senior software engineer                                 6
Senior 1                                                 6
Associate Director                                       6
Senior Staff                                             6
Mid-Level                                                6
IC7                                                      6
Product Manager II                                       6
New grad                                                 6
Director of Software Eng                                 6
B5                                                       6
Staff Engineer 2                                         6
Business Analyst                                         6
L4 Product Manager                                       6
Associate Offering Manager                               6
Only one level across Netflix                            6
l7                                                       6
3-1                                                      6
SE1                                                      6
B2                                                       6
Software Engineering Manager                             6
T27                                                      6
5b                                                       6
Software Developer II                                    6
BA4                                                      6
I                                                        6
Advisory Engineer                                        6
I8                                                       6
MTS IV                                                   5
L5b                                                      5
14                                                       5
SWE2                                                     5
C4                                                       5
Member of Technical Staff 2                              5
G04                                                      5
Sr Product Manager                                       5
Developer                                                5
Executive Director / Vice-President                      5
J                                                        5
G7                                                       5
l2                                                       5
Rotational Product Manager (RPM)                         5
G05                                                      5
Level 1                                                  5
RE3                                                      5
B30                                                      5
G06                                                      5
Technical Leader 2                                       5
Senior Software Engineer 2                               5
Mid-level                                                5
E                                                        5
C13                                                      5
Principal engineer                                       5
Senior Software Developer                                5
Senior Product Designer                                  5
B1                                                       5
PSG 20                                                   5
Distinguished Engineer                                   5
X6                                                       5
Assistant Vice-President                                 5
Senior Engineer 2                                        5
Software engineer                                        5
0                                                        5
29                                                       5
entry                                                    5
staff                                                    5
I5                                                       5
Software Engineer 5                                      5

In [ ]:
#numerical df for modelling
#df_model_one = df.select_dtypes(include = np.number)
#df_model_one.info()

In [ ]:
#df_model_one.to_csv('df_model_one.csv', index=False)

### Model 2 - let's include location

In [ ]:
df.head(10)

In [28]:
#let's dummifying the states
df_state_to_dum = df["state"]
df_state_dum = pd.get_dummies(df_state_to_dum, drop_first = True)
df =pd.concat([df, df_state_dum], axis=1 )

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20701 entries, 0 to 20700
Data columns (total 70 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   company                       20701 non-null  object
 1   title                         20701 non-null  object
 2   totalyearlycompensation       20701 non-null  int64
 3   location                      20701 non-null  object
 4   yearsofexperience             20701 non-null  float64
 5   yearsatcompany                20701 non-null  float64
 6   gender                        20701 non-null  object
 7   education                     20701 non-null  object
 8   is_female                     20701 non-null  int64
 9   is_faang                      20701 non-null  int64
 10  country                       20701 non-null  object
 11  state                         20701 non-null  object
 12  Data Scientist                20701 non-null  uint8
 13  Hardware Engineer             20701 non-null  uint8
 14  Mechanical Engineer           20701 non-null  uint8
 15  Product Designer              20701 non-null  uint8
 16  Product Manager               20701 non-null  uint8
 17  Software Engineer             20701 non-null  uint8
 18  Software Engineering Manager  20701 non-null  uint8
 19  Solution Architect            20701 non-null  uint8
 20  Technical Program Manager     20701 non-null  uint8
 21  education_enc                 20701 non-null  float64
 22  AR                            20701 non-null  uint8
 23  AZ                            20701 non-null  uint8
 24  CA                            20701 non-null  uint8
 25  CO                            20701 non-null  uint8
 26  CT                            20701 non-null  uint8
 27  DC                            20701 non-null  uint8
 28  DE                            20701 non-null  uint8
 29  FL                            20701 non-null  uint8
 30  GA                            20701 non-null  uint8
 31  HI                            20701 non-null  uint8
 32  IA                            20701 non-null  uint8
 33  ID                            20701 non-null  uint8
 34  IL                            20701 non-null  uint8
 35  IN                            20701 non-null  uint8
 36  KS                            20701 non-null  uint8
 37  KY                            20701 non-null  uint8
 38  LA                            20701 non-null  uint8
 39  MA                            20701 non-null  uint8
 40  MD                            20701 non-null  uint8
 41  ME                            20701 non-null  uint8
 42  MI                            20701 non-null  uint8
 43  MN                            20701 non-null  uint8
 44  MO                            20701 non-null  uint8
 45  MS                            20701 non-null  uint8
 46  MT                            20701 non-null  uint8
 47  NC                            20701 non-null  uint8
 48  ND                            20701 non-null  uint8
 49  NE                            20701 non-null  uint8
 50  NH                            20701 non-null  uint8
 51  NJ                            20701 non-null  uint8
 52  NM                            20701 non-null  uint8
 53  NV                            20701 non-null  uint8
 54  NY                            20701 non-null  uint8
 55  OH                            20701 non-null  uint8
 56  OK                            20701 non-null  uint8
 57  OR                            20701 non-null  uint8
 58  PA                            20701 non-null  uint8
 59  RI                            20701 non-null  uint8
 60  SC                            20701 non-null  uint8
 61  TN                            20701 non-null  uint8
 62  TX                            20701 non-null  uint8
 63  UT                            20701 non-null  uint8
 64  VA                            20701 non-null  uint8
 65  VT                            20701 non-null  uint8
 66  WA                            20701 non-null  uint8
 67  WI                            20701 non-null  uint8
 68  WV                            20701 non-null  uint8
 69  WY                            20701 non-null  uint8
dtypes: float64(3), int64(3), object(7), uint8(57)
memory usage: 3.2+ MB

In [31]:
#numerical df for modelling
df_model_two = df.select_dtypes(include = np.number)
df_model_two = df_model_two.dropna(subset=['totalyearlycompensation'])
df_model_two.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20701 entries, 0 to 20700
Data columns (total 63 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   totalyearlycompensation       20701 non-null  int64
 1   yearsofexperience             20701 non-null  float64
 2   yearsatcompany                20701 non-null  float64
 3   is_female                     20701 non-null  int64
 4   is_faang                      20701 non-null  int64
 5   Data Scientist                20701 non-null  uint8
 6   Hardware Engineer             20701 non-null  uint8
 7   Mechanical Engineer           20701 non-null  uint8
 8   Product Designer              20701 non-null  uint8
 9   Product Manager               20701 non-null  uint8
 10  Software Engineer             20701 non-null  uint8
 11  Software Engineering Manager  20701 non-null  uint8
 12  Solution Architect            20701 non-null  uint8
 13  Technical Program Manager     20701 non-null  uint8
 14  education_enc                 20701 non-null  float64
 15  AR                            20701 non-null  uint8
 16  AZ                            20701 non-null  uint8
 17  CA                            20701 non-null  uint8
 18  CO                            20701 non-null  uint8
 19  CT                            20701 non-null  uint8
 20  DC                            20701 non-null  uint8
 21  DE                            20701 non-null  uint8
 22  FL                            20701 non-null  uint8
 23  GA                            20701 non-null  uint8
 24  HI                            20701 non-null  uint8
 25  IA                            20701 non-null  uint8
 26  ID                            20701 non-null  uint8
 27  IL                            20701 non-null  uint8
 28  IN                            20701 non-null  uint8
 29  KS                            20701 non-null  uint8
 30  KY                            20701 non-null  uint8
 31  LA                            20701 non-null  uint8
 32  MA                            20701 non-null  uint8
 33  MD                            20701 non-null  uint8
 34  ME                            20701 non-null  uint8
 35  MI                            20701 non-null  uint8
 36  MN                            20701 non-null  uint8
 37  MO                            20701 non-null  uint8
 38  MS                            20701 non-null  uint8
 39  MT                            20701 non-null  uint8
 40  NC                            20701 non-null  uint8
 41  ND                            20701 non-null  uint8
 42  NE                            20701 non-null  uint8
 43  NH                            20701 non-null  uint8
 44  NJ                            20701 non-null  uint8
 45  NM                            20701 non-null  uint8
 46  NV                            20701 non-null  uint8
 47  NY                            20701 non-null  uint8
 48  OH                            20701 non-null  uint8
 49  OK                            20701 non-null  uint8
 50  OR                            20701 non-null  uint8
 51  PA                            20701 non-null  uint8
 52  RI                            20701 non-null  uint8
 53  SC                            20701 non-null  uint8
 54  TN                            20701 non-null  uint8
 55  TX                            20701 non-null  uint8
 56  UT                            20701 non-null  uint8
 57  VA                            20701 non-null  uint8
 58  VT                            20701 non-null  uint8
 59  WA                            20701 non-null  uint8
 60  WI                            20701 non-null  uint8
 61  WV                            20701 non-null  uint8
 62  WY                            20701 non-null  uint8
dtypes: float64(3), int64(3), uint8(57)
memory usage: 2.1 MB

In [32]:
df_model_two.to_csv('df_model_two.csv', index=False)

In [34]:
df_model_two["WV"].value_counts()

0    20694
1        7
Name: WV, dtype: int64